:root{
    --primary-color: #e9c96d;
    --secondary-color: black;
}

// Sacamos margen y dejamos todo a 0 para definirlo despues
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: var(--primary-color);
    height: 100vh;
       
}

.home{
    top: 5em;
    height: 33em;
    width: 100%;
    background: grey;
    background-image: url('../img/Portada.JPG');
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    margin-bottom: 0;
    

    .filtro{
        width: 100%;
        height: 100%;
        opacity: 20%;
        background: lightgray;
    }
   
    .logo-inicio{
        width: 7em;
        height: 7em;
        position: absolute;
        right: 3em;
        top: 3em;
        

    }

    h1{
        color: white;
        font-size: 5em;
        margin-left: 0.5em;        
        position: absolute;
        top:10%;
        width: 4.5em;
        left: 1em;
        display: block;
        text-shadow:  1px -2px 14px rgba(0,0,0,0.8);

    
    }
    p{
        color: var(--primary-color);
        font-size: 1.5em;
        font-weight:400;
        margin-left: 1em;
        margin-top: 2em;
        position:absolute;
        top: 11.5em;
        left: 4em;
        display: inline;
    }
    a{
        border: 3.5px var(--primary-color);
        padding: 5px;
        color: var(--primary-color);
        font-size: 1.5em;
        text-shadow: 2px;
        font-weight: 300;
        position: absolute;
        top: 12.3em;
        margin-left: 0.5em;
        margin-top: 1em;
        left: 16em;
        text-decoration: none;
        display: inline;
        
    }
}

.suscribite:hover{
    background: var(--primary-color);
    color: var(--secondary-color);
    border: 3.5px solid var(--primary-color);
    border-radius: 5px;
}

.about{
    background: var(--primary-color);
    height: 33em;
    border-top: 1px solid var(--secondary-color);

    a{
        text-decoration: none;
        font-size: 1.1em;
        margin-left: 0.5rem;
        color: var(--secondary-color);
    }
    
      

    
    img{
        width: 5.5em;
        height: 5.5em;
        border-radius: 20%;
        padding: 5px;
        background-color: var(--secondary-color);
        position: relative;
        top: 4em;
        margin-bottom: 2em;
        box-shadow: 0 0 0 2px;
        
        
        
    }
    p{
        top: 48.5rem;
        position: absolute;
        left: 10em;
        
    }
        
}

.about > h2{
    font-size: 2em;
    margin-left: 5em;
    top: 5em;
    position: relative;
    width: 50%;    
}



.primary-nav{
    position: absolute;
    right: 30em;
    top: 35em;
    list-style: none;
   
}

.teams{
    height: 33em;
    border-top: 1px solid var(--secondary-color);
    background: var(--primary-color);
    position: relative;
    
    img{
        width: 50em;
        height: 100%;
        position: relative;
        left: -10em;
        //display:none;
        

    }
    .equipos{
        font-size: 2em;
        top: 13.5rem;
        position: absolute;
        left: 7em;
        color: var(--primary-color);
        font-weight: 600;
        //background-color: var(--secondary-color);
        text-transform: capitalize;
        text-shadow:  1px -2px 14px rgba(0,0,0,1);
        
        
    }
    
    .lista-equipos{
        top: 5em;
        position: absolute;
        list-style:none;
        //left: 50em;
        right: 0;
        width: 40em;
        height: auto;
        overflow: hidden;
        
        
        a{
            text-decoration: none;
            font-size: 1.1em;
            color: var(--secondary-color);
            text-align:center;
        }
        

    }
    
}

.events{
    border-top: 1px solid black;
    background: var(--primary-color);
    height: 33em;
    width: 100%;
    position: relative;

    div{
        left: 50em;
        position: absolute;
        top: 0.5em;
        
        ul{
            list-style: none;
            
            li{
                color: var(--secondary-color);
            }
            a{
                text-decoration: none;
                font-size: 1.1em;
                color: var(--secondary-color);
                margin-left: 0.5rem;
            }
        }

        img{
            width: 5.5em;
            height: 5.5em;
            border-radius: 20%;
            padding-top: 5px;
            background-color: var(--secondary-color);
            position: relative;
            top: 4em;
            margin-bottom: 2em;
            box-shadow: 0 0 0 2px;
        }
    }
    p{
        position: absolute;
        top: 7em;
        font-size: 2em;
        color: var(--primary-color);
        font-weight: 600;
        text-shadow: 1px -2px 14px rgba(0,0,0,1);
        //background-color: var(--secondary-color);
        left: 7em;
    }
    
    
}
.cds{
    width: 50rem;
    height: 100%;
    position: relative;
    left: -10em;
    object-fit: cover;
    
    
}

.join{
    display: block;
    background: var(--primary-color);
    border-top: 0.5px solid var(--secondary-color);
    width: 100%;
    height: 33em;
    position: relative;

    .decoracion{
        background-color: var(--secondary-color);
        height: 33em;
        width: 10%;
        position: relative;
    }

    .texto{
        left: 50em;
        position: absolute;
        top: 5em;

        h2{
            font-size: 3em;
            right: 1em;
            top: -0.5em;
            position: relative;

        }

        p{
            position:relative;
            right: 0;
            
        }

    }
    

    .logo-inicio{
        width: 9rem;
        height: 9rem;
        position: relative;
        right: -3.5em;
        top: -17em;
        background-color: white;
        border-radius: 50%;
        padding: 5px;
    }
}

